/ Side-by-side diff view
.text-file.diff-wrap-lines.code.js-syntax-highlight{ data: diff_view_data }
  %table
    - diff_file.parallel_diff_lines.each do |line|
      - left = line[:left]
      - right = line[:right]
      - last_line = right.new_pos if right
      - unless @diff_notes_disabled
        - discussion_left, discussion_right = parallel_diff_discussions(left, right, diff_file)
      %tr.line_holder.parallel
        - if left
          - case left.type
          - when 'match'
            = diff_match_line left.old_pos, nil, text: left.text, view: :parallel
          - when 'nonewline'
            %td.old_line.diff-line-num
            %td.line_content.match= left.text
          - else
            - left_line_code = diff_file.line_code(left)
            - left_position = diff_file.position(left)
            %td.old_line.diff-line-num.js-avatar-container{ id: left_line_code, class: left.type, data: { linenumber: left.old_pos } }
              %a{ href: "##{left_line_code}", data: { linenumber: left.old_pos } }
              - if discussion_left
                %diff-note-avatars{ "discussion-id" => discussion_left.id }
            %td.line_content.parallel.noteable_line{ class: left.type, data: diff_view_line_data(left_line_code, left_position, 'old') }= diff_line_content(left.text)
        - else
          %td.old_line.diff-line-num.empty-cell
          %td.line_content.parallel

        - if right
          - case right.type
          - when 'match'
            = diff_match_line nil, right.new_pos, text: left.text, view: :parallel
          - when 'nonewline'
            %td.new_line.diff-line-num
            %td.line_content.match= right.text
          - else
            - right_line_code = diff_file.line_code(right)
            - right_position = diff_file.position(right)
            %td.new_line.diff-line-num.js-avatar-container{ id: right_line_code, class: right.type, data: { linenumber: right.new_pos } }
              %a{ href: "##{right_line_code}", data: { linenumber: right.new_pos } }
              - if discussion_right
                %diff-note-avatars{ "discussion-id" => discussion_right.id }
            %td.line_content.parallel.noteable_line{ class: right.type, data: diff_view_line_data(right_line_code, right_position, 'new') }= diff_line_content(right.text)
        - else
          %td.old_line.diff-line-num.empty-cell
          %td.line_content.parallel

      - if discussion_left || discussion_right
        = render "discussions/parallel_diff_discussion", discussion_left: discussion_left, discussion_right: discussion_right
    - if !diff_file.new_file && !diff_file.deleted_file && diff_file.diff_lines.any?
      - last_line = diff_file.diff_lines.last
      - if last_line.new_pos < total_lines
        %tr.line_holder.parallel
          = diff_match_line last_line.old_pos, last_line.new_pos, bottom: true, view: :parallel
